@model List<Department>
@{
    ViewBag.Title = "Index";
}

    <div id="main-content" class="site-main-content">
        <section class="site-content-area">

            <div class="uni-banner-default uni-background-1">
                <div class="container">
                    <a href="~/Controllers/DepartmentsController.cs"></a>
                    <!-- Page title -->
                    <div class="page-title">
                        <div class="page-title-inner">
                            <h1>our doctor</h1>
                        </div>
                    </div>
                    <!-- End page title -->
                    <!-- Breadcrumbs -->
                    <ul class="breadcrumbs">
                        <li><a href="#">home</a></li>
                        <li><a href="#">page</a></li>
                        <li><a href="#">our doctor</a></li>
                    </ul>
                    <!-- End breadcrumbs -->
                </div>
            </div>


            <div class="uni-our-doctor-body">
                <div class="container">
                    <div class="uni-shortcode-tabs-default">
                        <div class="uni-shortcode-tab-2">
                            <div class="tabbable-panel">
                                <div class="tabbable-line">
                                    <ul class="nav nav-tabs ">
                                        @for (int i = 0; i < Model.Count(); i++)
                                        {
                                            <li class="@(i==0?"active":"")">
                                                <a href="#tab_default_@i" data-toggle="tab" aria-expanded="false">
                                                    @Model[i].Title
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                    <div class="tab-content">
                                        @for (int i = 0; i < Model.Count(); i++)
                                        {
                                        <div class="tab-pane @(i==0?"active":"")" id="tab_default_@i">
                                            <div class="row">
                                                @foreach (var item in Model[i].Doctors)
                                                {

                                                    <div class="col-md-3 col-sm-6">
                                                        <div class="uni-our-doctor-item-default">
                                                            <div class="item-img">
                                                                <a href="#"><img src="~/Public/images/team/@item.Photo" alt="" class="img-responsive"></a>
                                                            </div>
                                                            <div class="item-caption">
                                                                <div class="item-caption-head">
                                                                    <div class="col-md-3 col-sm-3 col-xs-3 uni-clear-padding">
                                                                        <div class="item-icons">
                                                                            <img src="~/Public/images/icons_box/icon_4/@Model[i].Icon" alt="">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-9 col-sm-9 col-xs-9 uni-clear-padding">
                                                                        <div class="item-title">
                                                                            <h4>@item.FullName</h4>
                                                                            <span>@Model[i].Title</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="item-caption-info">
                                                                    <table class="table">
                                                                        <thead>
                                                                            <tr>
                                                                                <td>Degrees</td>
                                                                                <td>@item.Degrees</td>
                                                                            </tr>
                                                                        </thead>
                                                                        @Html.Raw(item.Body)
                                                                        <tfoot>
                                                                            <tr>
                                                                                <td colspan="2">
                                                                                    <ul>
                                                                                        <li>
                                                                                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                                                                        </li>
                                                                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                                                        <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                                                                    </ul>
                                                                                </td>
                                                                            </tr>
                                                                        </tfoot>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        }
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>

