@model HomeViewModel

@{
    ViewBag.Title = "Home Page";
}
<div id="main-content" class="site-main-content">
    <section class="site-content-area">

        <!--BANNER-->
        <div class="uni-banner">
            <div class="uni-owl-one-item owl-carousel owl-theme">
                @foreach (var slide in Model.HeaderSliders)
                {
                    <div class="item">
                        <div class="uni-banner-img uni-background-5" style="background-image:url('/Upload/@slide.Image')"></div>
                        <div class="content animated" data-animation="flipInX" data-delay="0.9s">
                            <div class="container">
                                <div class="caption">
                                    <h1>@slide.Title</h1>
                                    <p>
                                        @slide.Body
                                    </p>
                                    @if (!string.IsNullOrEmpty(slide.BtnUrl))
                                    {
                                        <a href="@slide.BtnUrl">@slide.BtnText</a>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>

        <!--OPENING HOURS AND BOOK APPOINTMENT-->
        <div class="uni-home-opening-book">
            <div class="container">
                <div class="uni-home-opening-book-content">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="uni-services-opinging-hours">
                                <div class="uni-services-opinging-hours-title">
                                    <div class="icon">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    </div>
                                    <h4>opening hours</h4>
                                </div>
                                <div class="uni-services-opinging-hours-content">
                                    <table class="table">
                                        <tr>
                                            <td>monday</td>
                                            <td>8:00 - 17:00</td>
                                        </tr>
                                        <tr>
                                            <td>tuesday</td>
                                            <td>8:00 - 17:00</td>
                                        </tr>
                                        <tr>
                                            <td>wednesday</td>
                                            <td>8:00 - 17:00</td>
                                        </tr>
                                        <tr>
                                            <td>thursday</td>
                                            <td>8:00 - 17:00</td>
                                        </tr>
                                        <tr>
                                            <td>friday</td>
                                            <td>8:00 - 17:00</td>
                                        </tr>
                                        <tr>
                                            <td>sunday</td>
                                            <td>8:00 - 17:00</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="uni-single-department-appointment-form">

                                <div class="uni-home-title">
                                    <h3>Book appoitment</h3>
                                    <div class="uni-underline"></div>
                                </div>

                                <form action="#">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="input-group form-group">
                                                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                                <input type="text" class="form-control" name="name" value="" placeholder="your name">
                                            </div>
                                            <div class="input-group form-group">
                                                <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                                <input type="tel" class="form-control" name="phone" value="" placeholder="phone number">
                                            </div>
                                            <div class="input-group form-group">
                                                <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                                <input type="email" class="form-control" name="email" value="" placeholder="email">
                                            </div>
                                            <div class="input-group form-group">
                                                <div class="input-group date date-check-in" data-date="12-02-2017" data-date-format="mm-dd-yyyy">
                                                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                    <input name="date1" class="form-control" type="text" value="12-02-2017">
                                                    <span class="input-group-addon btn"><i class="fa fa-calendar" id="ti-calendar1" aria-hidden="true"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="input-group form-group">
                                                <textarea id="message" name="phone" class="form-control" placeholder="note"></textarea>
                                            </div>
                                            <button class="vk-btn vk-btn-send">send</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--DEPARTMENT-->
        <div class="uni-hơm-1-department">
            <div class="container">
                <div class="uni-home-title">
                    <h3>Department</h3>
                    @*<div class="uni-underline"></div>*@   
                    @{
                        Html.RenderPartial("~/Views/Shared/_Department.cshtml",model:Model.Departments);
                    }
                </div>
            
            </div>
        </div>

        <!--OUR DOCTOR-->
       @{ 
           Html.RenderPartial("~/Views/Shared/_DoctorSlider.cshtml",model:Model.Doctors);
       }


        <!--OUR SERVICES-->
        <div class="uni-home-our-services">
            <div class="uni-shortcode-icons-box-5">
                <div class="container">

                    <div class="uni-home-title">
                        <h3>Our Services</h3>
                        <div class="uni-underline"></div>
                        @{
                            Html.RenderPartial("~/Views/Shared/_Services.cshtml",model:Model.Services);
                        }
                    </div>
                    <div class="btn-all-services">
                        <a href="#">All services +</a>
                    </div>
                </div>
            </div>
        </div>

        <!--CUSTOMERS SAY-->
        <div class="uni-home-customers-says">
            <div class="uni-shortcode-testimonials-2 uni-background-3">
                <div class="container">

                    <div class="uni-home-title">
                        <h3>Customers say</h3>
                        <div class="uni-underline"></div>
                    </div>

                    <div class="uni-owl-two-item owl-carousel owl-theme">
                        @foreach (var item in Model.CustomerSliders)
                        {
                            <div class="item">
                                <div class="uni-shortcode-testimonials-default">
                                    <div class="item-info">
                                        <div class="row">
                                            <div class="col-md-3 col-sm-4">
                                                <div class="item-info-img">
                                                    <img src="~/Public/images/testimonial/@item.Photo" alt="" class="img-responsive">
                                                </div>
                                            </div>
                                            <div class="col-md-9 col-sm-8">
                                                <div class="item-info-title">
                                                    <h4>@item.FullName</h4>
                                                    <p class="testimonial_subtitle">@item.WhatProblems</p>
                                                </div>
                                                <div class="uni-divider"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-caption">
                                        <p>
                                           @item.Text
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>

        <!--FAQ'S  and LASTEST POST-->
        <div class="uni-home-faq-latest-post">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="uni-home-faq">
                            <div class="uni-home-title">
                                <h3>Faq's</h3>
                                <div class="uni-line"></div>
                            </div>
                            <div class="accordion-default">
                                <div class="accordion-min-plus">
                                    <div class="accordion">
                                        @foreach (var item in Model.Faqs)
                                        {
                                            <div class="accordion-item">
                                                <h4 class="accordion-toggle">@item.Title</h4>
                                                <div class="accordion-content">
                                                    <p>
                                                        @item.Body
                                                    </p>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="uni-home-latest-post">
                            <div class="uni-home-title">
                                <h3>latest posts</h3>
                                <div class="uni-line"></div>
                            </div>
                            <div class="uni-home-latest-post-body">
                                <div class="item">
                                    <div class="item-img">
                                        <a href="#"><img src="~/Public/images/home1/lastestpost/img2.png" alt="" class="img-responsive"></a>
                                    </div>
                                    <div class="item-caption">
                                        <h4><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit?</a></h4>
                                        <span class="time">June 12, 2017</span>
                                    </div>
                                </div>
                                <div class="uni-divider"></div>
                                <div class="item">
                                    <div class="item-img">
                                        <a href="#"><img src="~/Public/images/home1/lastestpost/img3.png" alt="" class="img-responsive"></a>
                                    </div>
                                    <div class="item-caption">
                                        <h4><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit?</a></h4>
                                        <span class="time">June 12, 2017</span>
                                    </div>
                                </div>
                                <div class="uni-divider"></div>
                                <div class="item">
                                    <div class="item-img">
                                        <a href="#"><img src="~/Public/images/home1/lastestpost/img4.png" alt="" class="img-responsive"></a>
                                    </div>
                                    <div class="item-caption">
                                        <h4><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit?</a></h4>
                                        <span class="time">June 12, 2017</span>
                                    </div>
                                </div>
                                <div class="uni-divider"></div>
                                <div class="item">
                                    <div class="item-img">
                                        <a href="#"><img src="~/Public/images/home1/lastestpost/img5.png" alt="" class="img-responsive"></a>
                                    </div>
                                    <div class="item-caption">
                                        <h4><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit?</a></h4>
                                        <span class="time">June 12, 2017</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--MAP-->
        <div class="mapouter"><div class="gmap_canvas"><iframe width="1263" height="600" id="gmap_canvas" src="https://maps.google.com/maps?q=code%20academy%20baku&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.whatismyip-address.com"></a></div>
        <style>
            .mapouter {
                position: relative;
                text-align: right;
                height: 600px;
                width: 1263px;
            }

            .gmap_canvas {
                overflow: hidden;
                background: none !important;
                height: 600px;
                width: 1263px;
            }
        </style></div>


    </section>
</div>