@model IEnumerable<Service>
<div class="uni-our-services-2 uni-background-4">

    <div class="container">
        <div class="uni-services-title">
            <h3>Our services</h3>
            <div class="uni-underline"></div>
        </div>

        <div class="uni-our-service-2-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="tab-nav">
                        <ul class="nav-pills nav-stacked">
                            @for (int i = 0; i < Model.Count(); i++)
                            {
                                var item = Model.Skip(i).FirstOrDefault();
                                <li class="@(i==0?"active":"")"><a href="#tab_@item.Id" data-toggle="pill">@item.Title</a></li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        @for (int j = 0; j < Model.Count(); j++)
                        {
                            if (Model.Skip(j).FirstOrDefault() != null)
                            {
                                var ite = Model.Skip(j).FirstOrDefault();
                                <div class="tab-pane @(j==0?"active":"")" id="tab_@ite.Id">
                                    <div class="uni-our-service-2-content-default">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="item-img">
                                                    <img src="~/Upload/Service/@(ite.Photo !=null ? ite.Photo :"no-image.png")" alt="" class="img-responsive">
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="item-caption">
                                                    <div class="item-caption-title">
                                                        <h3>@ite.Title</h3>
                                                        <div class="uni-line"></div>
                                                    </div>

                                                    @Html.Raw(ite.Body)

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
