 @model List<CustomerSlider>

 <!--TESTIMONIALS-->
<div class="col-md-4">
    <div class="uni-services-testimonials">
        <div class="uni-services-title">
            <h3>testimonials</h3>
            <div class="uni-line"></div>
        </div>
        <div class="uni-services-testimonials-content">
            <div class="uni-owl-one-item owl-carousel owl-theme">
                @foreach (var item in Model)
                {
                    <div class="item">
                        <div class="uni-shortcode-testimonials-default">
                            <div class="item-info">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="item-info-img">
                                            <img src="~/Public/images/testimonial/@item.Photo" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="item-info-title">
                                            <h4>@item.FullName</h4>
                                            <p class="testimonial_subtitle">@item.WhatProblems</p>
                                        </div>
                                        <div class="uni-divider"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-caption">
                                <p>
                                    @item.Text
                                </p>
                            </div>
                        </div>

                        <div class="uni-shortcode-testimonials-default">
                            <div class="item-info">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="item-info-img">
                                            <img src="~/Public/images/testimonial/@item.Photo" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="item-info-title">
                                            <h4>@item.FullName</h4>
                                            <p class="testimonial_subtitle">@item.WhatProblems</p>
                                        </div>
                                        <div class="uni-divider"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-caption">
                                <p>
                                    @item.Text
                                </p>
                            </div>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</div>
